.projects {
  overflow: hidden;
  @media screen and (max-width: 680px) {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }
  &_swiper {
    margin-top: 55px;
    margin-bottom: 50px;
    @media screen and (min-width: $container) {
      margin-left: -21px;
      margin-right: -21px;
      padding-left: 21px;
      padding-right: 21px;
    }

    .swiper-wrapper {
      padding-bottom: 60px;
    }
    .swiper-button {
      top: calc($img-height / 2);
      @media screen and (max-width: 680px) {
        display: none;
      }
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 47px;
    grid-row-gap: 85px;
    text-align: center;
    @media screen and (max-width: 680px) {
      display: block;
      margin-top: 50px;
      order: 3;
    }
  }
  .item {
    overflow: hidden;
    img {
      width: 100%;
    }
    a {
      color: $main-color;
    }

    @media screen and (max-width: 680px) {
      margin-bottom: 78px;
    }
    .link_more {
      color: $light-blue;
      margin-top: 30px;
      &:hover {
        color: #fff;
      }
    }
    &:hover {
      .link_more {
        background: $light-blue;
        color: #fff;
      }
    }

    .price {
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      margin-top: 30px;
      @media screen and (max-width: 680px) {
        font-size: 25px;
        line-height: 37px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    .title {
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      margin-top: 17px;
      @media screen and (max-width: 680px) {
        font-size: 15px;
        line-height: 22px;
      }
    }
    .rate {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
      @media screen and (max-width: 680px) {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 18px;
      }
      span {
        color: $light-blue;
      }
    }
    .description {
      @media screen and (max-width: 680px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
    .img_slider {
      width: 100%;

      .slick-dots {
        bottom: 17px;
        li {
          background: #fff;
          &.slick-active {
            background: $light-blue;
          }
        }
      }
    }
  }
  &_nav-tabs {
    margin-top: 114px;
    margin-bottom: 72px;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 680px) {
      margin-top: 0;
      margin-bottom: 60px;
      order: 1;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      gap: 0;
      display: none;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      @media screen and (max-width: 680px) {
        font-size: 10px;
        line-height: 15px;
      }
    }
    ul {
      flex-grow: 1;
      list-style: none;
      display: flex;
      // align-items: center;
      justify-content: center;
      max-width: 790px;
      @media screen and (max-width: 680px) {
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        text-align: left;
        margin-top: 16px;
      }
      li {
        // padding: 9px 38px;
        padding-top: 9px;
        padding-bottom: 9px;
        flex-grow: 1;
        background: $grey;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 980px) {
          padding: 9px 18px;
          width: 100%;
          display: block;
          margin-bottom: 1px;
        }
        @media screen and (max-width: 680px) {
          font-size: 10px;
          line-height: 15px;
          padding: 9px 22px;
        }
        &:not(:last-child) {
          margin-right: 1px;
        }
        &.active {
          background-color: $blue;
          a {
            color: #ffffff;
            &:hover {
              color: #ffffff;
            }
          }
        }
        a {
          color: $main-color;
          text-decoration: none;
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .text_block {
      order: 2;
    }
    .nav_pages {
      order: 4;
    }
  }
  &_page {
    text-align: left;
    h1 {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 680px) {
        font-size: 19px;
        line-height: 28px;
      }
    }
  }
  &_content {
    text-align: left;
    margin-top: 55px;

    @media screen and (max-width: 680px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 20px;
    }
    &-gallery {
      float: left;
      width: 50% !important;
      margin-right: 46px;
      margin-bottom: 0;
      overflow: hidden;
      @media screen and (max-width: 680px) {
        order: 2;
        margin-bottom: 60px;
        float: none;
        width: auto !important;
      }
      .slick-slide {
        img {
          object-fit: scale-down;
          height: 400px;
          width: auto;
          margin: auto;
          max-width: 100% !important;
          @media screen and (max-width: 680px) {
            height: 300px;
          }
        }
      }

      .slick-dots {
        bottom: 32px;
        li {
          width: 8px;
          height: 8px;
          background: #fff;
          &.slick-active {
            background: $light-blue;
          }
        }
      }
    }
    &-info {
      // grid-area: 1 / 2 / 2 / 3;
      @media screen and (max-width: 680px) {
        order: 1;
      }
      .rate {
        font-weight: 700;
        font-size: 17px;
        line-height: 25px;
        // margin-bottom: 32px;
        span {
          color: $light-blue;
        }
      }
      .date {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 59px;
        @media screen and (max-width: 680px) {
          margin-bottom: 20px;
        }
      }
    }
    &-description {
      grid-area: 2 / 2 / 4 / 3;
      @media screen and (max-width: 680px) {
        order: 3;
      }
      .price {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 53px;
        margin-top: 33px;
      }
    }
  }

  &_review {
    background: $blue;
    color: #fff;
    padding-top: 76px;
    padding-bottom: 114px;
    @media screen and (max-width: 680px) {
      margin-top: 0;
      padding-top: 59px;
      padding-bottom: 98px;
    }
  }
  &_about {
    @media screen and (max-width: 680px) {
      margin-bottom: 105px;
    }
    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 47px;
      @media screen and (max-width: 680px) {
        display: block;
        text-align: center;
      }
    }
    &-left {
      .inner {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        // text-align: center;
        @media screen and (max-width: 680px) {
          width: 100%;
        }
        a {
          color: #fff;
        }
        .link_more {
          color: $light-blue;
          &:hover {
            color: #fff;
          }
        }
        img {
          height: 272px;
        }
        &:hover {
          .link_more {
            color: lighten($light-blue, 10);
            // background: $light-blue;
            // color: #fff;
          }
        }
      }
      .head {
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        margin-bottom: 58px;
        @media screen and (max-width: 680px) {
          text-align: center;
          font-size: 15px;
          line-height: 22px;
          margin-bottom: 27px;
        }
      }
      .title {
        // text-align: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 25px;
        margin-top: 24px;
        margin-bottom: 17px;
      }
      .link_more {
        padding: 0;
        &:hover {
          background: none;
          color: $light-blue;
        }
      }
    }
    &-review {
      text-align: center;

      h4 {
        font-weight: 700;
        font-size: 38px;
        line-height: 56px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        @media screen and (max-width: 680px) {
          font-size: 21px;
          line-height: 31px;
        }
      }
      .reviews {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 22px;
        .item {
          text-align: center;
          color: #fff;
          // height: 272px;
          background: none;
          .content {
            max-width: 500px;
            margin: 34px auto 0;
          }
        }
      }
    }
  }
}
