.header {
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-left: 0;
    padding-right: 0;
    @media (width < 680px) {
      flex-direction: row-reverse;
      padding: 24px 30px 0 100px;
    }
  }
  &_logo {
    svg {
      width: 200px;
      height: 71px;
      @media (width < 680px) {
        width: 120px;
        height: 43px;
      }
      use {
        fill: $main-color;
      }
    }
  }
  &_contacts {
    display: flex;
    align-items: center;
  }
  &_btn {
    @media (width < 680px) {
      display: none;
    }
  }
  &_social {
    margin-left: 40px;
    display: flex;
    gap: 16px;
    @media (width < 980px) {
      display: none;
    }
    svg {
      height: 24px;
      width: 24px;
    }
    svg use {
      fill: $main-color;
    }
    a:hover {
      svg use {
        fill: $light-blue;
      }
    }
  }
  &_phone {
    color: $main-color;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    @media (width < 680px) {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &_nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
    max-width: 1180px;
    margin: 35px auto;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    &-menu {
      display: flex;
      list-style: none;
      justify-content: space-around;
      padding-top: 16px;
      padding-bottom: 17px;
    }
    &-link a {
      text-decoration: none;
      color: $main-color;
      &:hover {
        color: $light-blue;
      }
    }
    @media (width < 680px) {
      display: none;
    }
  }
}
