.page_not_found {
  text-align: center;
  background: url(../img/404.png) 50% no-repeat;
  background-size: cover;
  padding-top: 285px;
  color: #fff;
  min-height: calc(100vh - 517px);
  padding-bottom: 114px;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &_logo {
      svg {
        use {
          fill: #fff;
        }
      }
    }
    &_social {
      svg use {
        fill: #fff;
      }
    }
    &_nav {
      color: #fff;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      &-link a {
        color: #fff;
        &:hover {
          color: $light-blue;
        }
      }
    }

    .btn {
      color: #fff;
    }
    &_phone {
      color: #fff;
      a {
        color: #fff;
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
  .burger-menu {
    &_lines::before,
    &_lines::after,
    &_lines {
      background-color: #fff;
    }
  }
  .title {
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 46px;
    position: relative;
  }
  .text_block {
    max-width: 975px;
    margin: auto;
    margin-bottom: 144px;
    a {
      text-transform: uppercase;
    }
  }
}
