.catalogue {
  .slick-dots li {
    width: 8px;
    height: 8px;
    background: #ffffff;
  }

  &_nav-tabs {
    margin-top: 29px;
    margin-bottom: 72px;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 680px) {
        justify-content: start;
      }
      li {
        background: $grey;

        @media screen and (max-width: 680px) {
          font-size: 10px;
          line-height: 15px;
        }
        &:not(:last-child) {
          margin-right: 1px;
        }
        &.active {
          background-color: $blue;
          a {
            color: #ffffff;
            display: inline-block;

            &:hover {
              color: #ffffff;
            }
          }
        }
        a {
          display: inline-block;
          padding: 9px 38px;
          color: $main-color;
          text-decoration: none;
          @media screen and (max-width: 980px) {
            padding: 9px 18px;
          }
          @media screen and (max-width: 680px) {
            padding: 9px 22px;
          }
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 47px;
    grid-row-gap: 85px;
    text-align: center;
    @media screen and (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 77px;
    }
    @media screen and (max-width: 680px) {
      display: flex;
      gap: 0;
    }
    .img {
      img {
        aspect-ratio: 3/4.5;
        object-fit: scale-down;
      }
    }
    .item {
      a {
        color: $main-color;
      }
      @media screen and (max-width: 680px) {
        width: 75vw;
        flex-shrink: 0;
        margin-right: 20px;

        .img {
          img {
            width: 100%;
          }
        }
      }
      .title {
        font-weight: 700;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        margin-top: 17px;

        @media screen and (max-width: 680px) {
          font-size: 15px;
          line-height: 22px;
        }
      }
      .price {
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        margin-top: 32px;
        @media screen and (max-width: 680px) {
          font-size: 25px;
          line-height: 37px;
        }
      }
      .description {
        @media screen and (max-width: 680px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
      .link_more {
        color: $light-blue;
        margin-top: 23px;
        @media screen and (max-width: 680px) {
          margin-top: 21px;
        }
      }
      &:hover {
        .link_more {
          background: $light-blue;
          color: #fff;
        }
      }
    }
  }
}

.catalogue_list {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 47px;
  @media screen and (max-width: 680px) {
    display: block;
    width: 100%;
    .item {
      width: 75vw;
      margin-bottom: 78px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.columns {
  display: flex;
  .catalogue_list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 47px;
    // @media screen and (max-width: 680px) {
    //   display: block;
    //   width: 100%;
    //   .item {
    //     width: 75vw;
    //     margin-bottom: 78px;
    //     margin-left: auto;
    //     margin-right: auto;
    //   }
    // }
  }
}
.side_left {
  width: 30%;
  flex-grow: 0;
  text-align: left;
  padding-right: 47px;
}

.filtr {
  text-align: left;
  margin-bottom: 112px;
}

.search {
  input.search_iput {
    height: 64px;
    padding-left: 34px;
    border: 1px solid #252734;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
  }
  .btn {
    display: inline-block;
    padding: 12px 44px;
    min-width: initial;
    margin-top: 36px;
  }
}
