@@include("../../views/layouts/head.html")

<body>
    @@include("../../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>О МАСТЕРСКОЙ</h1>
            <p>Мастерскую «Внуково гранит» основали два профессиональных спортсмена Антон Симагин и Чингиз Шарафединов.
                Еще учась в школе САМБО 70, а потом в институте физкультуры, мы подрабатывали резчиками по камню, а
                после
                завершения спортивной карьеры открыли собственную мастерскую.</p>
            <div class="img">
                <img src="../img/about1.png" alt="">
            </div>
            <div>Сейчас наша мастерская входит в первую пятерку фирм, профессионально работающих с гранитом в Москве и
                Московской области.</div>

            <p>Мы работаем как с прямыми клиентами, так и с оптовыми заказчиками, в любом случае выдерживая высокое
                качество и оптимальные сроки.</p>
            <h2>Выставка работ</h2>
            <p>В нашей мастерской открыта выставка работ, где вы можете увидеть различные варианты памятников и
                комплексов. Приезжайте, и мы поможем вам определиться с заказом. Также вы можете посмотреть варианты
                ниже и заказать такой же или похожий проект.</p>
            <div class="img">
                <img src="../img/about2.png" alt="">
            </div>
        </div>

    </div>
    <section class="feedback">
        @@include("../../blocks/modules/feedback/feedback.html")

    </section>
    @@include("../../blocks/modules/footer/footer.html")
    <script src="../js/vendor.js"></script>
</body>

</html>