<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Внуково Гранит</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
</head>

<body>


    <div class="page_not_found">
        @@include("../blocks/modules/header/header.html")
        <div class="container">
            <div class="title _border"> Этой страницы нет на нашем сайте.</div>
            <div class="text_block">
                <p>Если вы интересуетесь изготовлением памятников из гранита,
                    то посмотрите <a href="">каталог готовых проектов</a> или <a href="">наши работы</a> ,
                    либо просто <a href="">заполните заявку</a>, и мы с вами свяжемся</p>


            </div>
            <a href="#modal" role="button" class="btn btn_blue">Сважитесь с нами</a>
        </div>

    </div>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>

</body>

</html>