@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>О МАСТЕРСКОЙ</h1>
            <div class="text_block">
                <p>Мастерскую «Внуково гранит» основали два профессиональных спортсмена Антон Симагин и Чингиз
                    Шарафединов.
                    Еще учась в школе САМБО 70, а потом в институте физкультуры, мы подрабатывали резчиками по камню, а
                    после
                    завершения спортивной карьеры открыли собственную мастерскую.</p>
            </div>
            <div class="img about_img ">
                <img src="img/about1.png" alt="">
            </div>

            <div class="welcome">
                <div class="welcome_subtitle">Сейчас наша мастерская входит в первую пятерку фирм, профессионально
                    работающих с гранитом в
                    Москве и
                    Московской области.</div>
                <p>Мы работаем как с прямыми клиентами, так и с оптовыми заказчиками, в любом случае выдерживая высокое
                    качество и оптимальные сроки.</p>
            </div>


            <h2>Выставка работ</h2>
            <div class="text_block">
                <p>В нашей мастерской открыта выставка работ, где вы можете увидеть различные варианты памятников и
                    комплексов. <a href="">Приезжайте</a>, и мы поможем вам определиться с заказом. Также вы можете
                    посмотреть варианты
                    ниже и заказать такой же или похожий проект.</p>
            </div>
            <div class="img_slider slider about_slider">
                <div>
                    <img src="img/about2.png" alt="">
                </div>
                <div>
                    <img src="img/about1.jpg" alt="">
                </div>
            </div>
        </div>


    </div>
    <section class="materials">
        <div class="container">


            <h2>Материалы</h2>
            <div class="text_block">
                <p>У нас налажены прямые поставки камней, так что мы можем предложить лучше цены и сроки по изготовлению
                    памятников из следующих материалов:</p>
            </div>
            <div class="scroll">
                <div class="materials_list">
                    <div class="item"><img src="img/st1.png" alt="">
                        <div>Букинское габро</div>
                    </div>
                    <div class="item"><img src="img/st2.png" alt="">
                        <div>Василевский гранит</div>
                    </div>
                    <div class="item"><img src="img/st3.png" alt="">
                        <div>Габро диабаз</div>
                    </div>
                    <div class="item"><img src="img/st4.png" alt="">
                        <div>Гранатовый амфиболит</div>
                    </div>
                    <div class="item"><img src="img/st1.png" alt="">
                        <div>Букинское габро</div>
                    </div>
                    <div class="item"><img src="img/st2.png" alt="">
                        <div>Василевский гранит</div>
                    </div>
                    <div class="item"><img src="img/st3.png" alt="">
                        <div>Габро диабаз</div>
                    </div>
                    <div class="item"><img src="img/st4.png" alt="">
                        <div>Гранатовый амфиболит</div>
                    </div>
                    <div class="item"><img src="img/st1.png" alt="">
                        <div>Букинское габро</div>
                    </div>
                    <div class="item"><img src="img/st2.png" alt="">
                        <div>Василевский гранит</div>
                    </div>
                    <div class="item"><img src="img/st3.png" alt="">
                        <div>Габро диабаз</div>
                    </div>
                    <div class="item"><img src="img/st4.png" alt="">
                        <div>Гранатовый амфиболит</div>
                    </div>
                </div>
            </div>


            <div class="text_block">
                <p> Мы также работаем и с другими материалами, такими как мрамор, бронза и дерево. Варианты исполнения
                    мы можем обсудить персонально.</p>
            </div>
        </div>
    </section>
    <section class="for_specialist">
        <div class="container">
            <h2>Специалистам</h2>
            <div class="subtitle">
                У нас всегда есть работа для граверов, скульпторов, резчиков по камню и дизайнеров-оформителей.
            </div>
            <p> Если вы являетесь таким специалистом и ищете постоянную работу или разовые заказы,</p>
            <a href="" class="btn btn_blue">Свяжитесь с нами</a>

        </div>
    </section>
    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>