@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Каталог</h1>

            <div class="catalogue_nav-tabs">
                <div class="scroll">
                    <ul>
                        <li class="active"><a href="">Памятники</a></li>
                        <li><a href="">Ограды</a></li>
                        <li><a href="">Цоколи</a></li>
                        <li><a href="">Гравировка</a></li>
                        <li><a href="">Скульптуры</a></li>
                        <li><a href="">Облицовка</a></li>
                    </ul>
                </div>

            </div>

            <div class="columns">

                <div class="side-Left">
                    <div class="filtr">
                        <label for="
             "> <input type="radio"> Из красного камня</label>
                        <label for="
             "> <input type="radio"> С ангелами</label>
                        <label for="
             "> <input type="radio"> С деревом</label>
                        <label for="
             "> <input type="radio"> Мусульманские</label>
                        <label for="
             "> <input type="radio"> Православные</label>
                        <label for="
             "> <input type="radio"> Детские</label>
                        <label for="
             "> <input type="radio"> С птицами</label>
                        <label for="
             "> <input type="radio"> С крестом</label>
                        <label for="
             "> <input type="radio"> С цветами</label>
                    </div>


                    <div class="search">
                        <input type="text" value="" placeholder="Поиск">

                        Найти

                    </div>

                </div>

                <div class="catalogue_list">
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                        <a href class="link_more">подробнее</a>
                    </div>
                </div>

            </div>




        </div>

    </div>

    @@include("../blocks/modules/footer/footer.html")
    <script src="../js/vendor.js"></script>
</body>

</html>