@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Каталог</h1>

            <div class="catalogue_nav-tabs">
                <div class="scroll">
                    <ul>
                        <li class="active"><a href="">Памятники</a></li>
                        <li><a href="">Ограды</a></li>
                        <li><a href="">Цоколи</a></li>
                        <li><a href="">Гравировка</a></li>
                        <li><a href="">Скульптуры</a></li>
                        <li><a href="">Облицовка</a></li>
                    </ul>
                </div>

            </div>

            <div class="columns">

                <div class="side_left _hidden_mobile">
                    <div class="filtr">
                        <div class="form_radio">
                            <input id="radio-0" type="radio" name="radio" value="1" checked>
                            <label for="radio-0"> Все</label>
                        </div>

                        <div class="form_radio">
                            <input id="radio-1" type="radio" name="radio" value="1" checked>
                            <label for="radio-1"> Из красного камня</label>
                        </div>
                        <div class="form_radio">
                            <input id="radio-2" type="radio" name="radio" value="2">
                            <label for="radio-2"> С ангелами</label>
                        </div>

                        <div class="form_radio">
                            <input id="radio-3" type="radio" name="radio" value="3">
                            <label for="radio-3"> С деревом</label>
                        </div>

                        <div class="form_radio">
                            <input id="radio-4" type="radio" name="radio" value="4">
                            <label for="radio-4">Мусульманские</label>
                        </div>

                        <div class="form_radio">
                            <input id="radio-5" type="radio" name="radio" value="5">
                            <label for="radio-5"> Православные</label>
                        </div>

                        <div class="form_radio">
                            <input id="radio-6" type="radio" name="radio" value="6">
                            <label for="radio-6"> Детские</label>
                        </div>
                        <div class="form_radio">
                            <input id="radio-7" type="radio" name="radio" value="7">
                            <label for="radio-7"> С птицами</label>
                        </div>
                        <div class="form_radio">
                            <input id="radio-8" type="radio" name="radio" value="8">
                            <label for="radio-8"> С крестом </label>
                        </div>
                        <div class="form_radio">
                            <input id="radio-9" type="radio" name="radio" value="9" disabled>
                            <label for="radio-9"> С цветами </label>
                        </div>

                    </div>


                    <div class="search">
                        <input type="text" value="" placeholder="Поиск" class="search_iput">

                        <a href="" class="btn btn_blue">Найти</a>

                    </div>

                </div>

                <div class="catalogue_list">
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                    <div class="item"> <a href="project-budzhet.html">
                            <div class="img"> <img src="img/stone.png" alt=""></div>
                            <div class="title"> Памятник T133
                                вертикальный</div>
                            <div class="price"> 17 400 ₽</div>
                        </a>
                        <a href class="link_more">подробнее</a>
                    </div>
                </div>



            </div>

            <div class="nav_pages">
                <ul>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li>...</li>
                    <li><a href="">21</a></li>
                </ul>
            </div>

            <a href="" class="btn btn_blue">Заполнить заявку</a>
        </div>

    </div>
    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>