@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Каталог</h1>

            <div class="catalogue_nav-tabs">
                <div class="scroll">
                    <ul>
                        <li><a href="">Памятники</a></li>
                        <li class="active"><a href="">Ограды</a></li>
                        <li><a href="">Цоколи</a></li>
                        <li><a href="">Гравировка</a></li>
                        <li><a href="">Скульптуры</a></li>
                        <li><a href="">Облицовка</a></li>
                    </ul>
                </div>

            </div>


            <div class="catalogue_list">
                <div class="item">
                    <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
                <div class="item"> <a href="project-budzhet.html">
                        <div class="img"> <img src="img/stone.png" alt=""></div>
                        <div class="title"> Памятник T133
                            вертикальный</div>
                        <div class="price"> 17 400 ₽</div>
                    </a>
                    <a href class="link_more">подробнее</a>
                </div>
            </div>




            <div class="nav_pages">
                <p>Показано 20 из 50</p>
                <a href="#" class="btn btn_blue">Показать еще</a>

            </div>

            <!-- <a href="" class="btn btn_blue">Заполнить заявку</a> -->
        </div>

    </div>
    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>