@@include("../views/layouts/default.html")

<body class="">

    <div class="main_page">
        @@include("../blocks/modules/header/header.html")

        <section class="hero">
            <div class="container">
                <div class="swiper hero_swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <div class="swiper-subtitle _border">1Акция до конца зимы</div>
                                <div class="swiper-title">10% скидка на изготовление памятников хранение - бесплатно!
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="swiper-subtitle _border">1Акция до конца зимы</div>
                                <div class="swiper-title">10% скидка на изготовление памятников хранение - бесплатно!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button swiper-button-prev">
                        <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                            <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                            <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>

                </div>
                <a href="#modal" role="button" class="btn btn_blue">
                    Свяжитесь с нами
                </a>

            </div>
        </section>
        <section class="welcome">
            <div class="welcome_title">С 2004 года изготавливаем памятники и мемориальные комплексы
                любой сложности.</div>
            <div class="welcome_subtitle">Работаем со всеми кладбищами <br>
                Москвы и Подмосковья.</div>

        </section>
        <section class="projects">
            <div class="container">
                <h2>Готовые проекты</h2>
                <div class=" swiper projects_swiper ">
                    <div class="swiper-wrapper">
                        <div class=" swiper-slide">
                            <a href="project-budzhet.html">
                                <div class="item">
                                    <div class="img">
                                        <img src="img/pic.png" alt="">
                                    </div>
                                    <div class="title">Комплекс К1012</div>
                                    <div class="rate">Класс: <span>стандарт</span> </div>
                                    <div class="description">Комплекс из дымовского гранита.
                                        Памятник 100-50-5, подставка 60-20-15.
                                        Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                        толщина 3 см.</div>
                                    <div class="price">
                                        578 400 ₽
                                    </div>
                                    <span class="link_more">подробнее</span>
                                </div>
                            </a>

                        </div>
                        <div class=" swiper-slide">
                            <a href="project-budzhet.html">
                                <div class="item">
                                    <div class="img">
                                        <img src="img/pic.png" alt="">
                                    </div>
                                    <div class="title">Комплекс К1012</div>
                                    <div class="rate">Класс: <span>стандарт</span> </div>
                                    <div class="description">Комплекс из дымовского гранита.
                                        Памятник 100-50-5, подставка 60-20-15.
                                        Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                        толщина 3 см.</div>
                                    <div class="price">
                                        578 400 ₽
                                    </div>
                                    <span class="link_more">подробнее</span>
                                </div>
                            </a>

                        </div>
                        <div class=" swiper-slide">
                            <a href="project-budzhet.html">
                                <div class="item">
                                    <div class="img">
                                        <img src="img/pic.png" alt="">
                                    </div>
                                    <div class="title">Комплекс К1012</div>
                                    <div class="rate">Класс: <span>стандарт</span> </div>
                                    <div class="description">Комплекс из дымовского гранита.
                                        Памятник 100-50-5, подставка 60-20-15.
                                        Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                        толщина 3 см.</div>
                                    <div class="price">
                                        578 400 ₽
                                    </div>
                                    <span class="link_more">подробнее</span>
                                </div>
                            </a>

                        </div>
                        <div class=" swiper-slide">
                            <a href="project-budzhet.html">
                                <div class="item">
                                    <div class="img">
                                        <img src="img/pic.png" alt="">
                                    </div>
                                    <div class="title">Комплекс К1012</div>
                                    <div class="rate">Класс: <span>стандарт</span> </div>
                                    <div class="description">Комплекс из дымовского гранита.
                                        Памятник 100-50-5, подставка 60-20-15.
                                        Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                        толщина 3 см.</div>
                                    <div class="price">
                                        578 400 ₽
                                    </div>
                                    <span class="link_more">подробнее</span>
                                </div>
                            </a>

                        </div>
                        <div class=" swiper-slide">
                            <a href="project-budzhet.html">
                                <div class="item">
                                    <div class="img">
                                        <img src="img/pic.png" alt="">
                                    </div>
                                    <div class="title">Комплекс К1012</div>
                                    <div class="rate">Класс: <span>стандарт</span> </div>
                                    <div class="description">Комплекс из дымовского гранита.
                                        Памятник 100-50-5, подставка 60-20-15.
                                        Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                        толщина 3 см.</div>
                                    <div class="price">
                                        578 400 ₽
                                    </div>
                                    <span class="link_more">подробнее</span>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="projects_swiper-controls">
                        <div class="swiper-button swiper-button-prev">
                            <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                                <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper-button swiper-button-next">
                            <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                                <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>


                </div>

                <a href="projects.html" class="btn btn_blue">Смотреть все варианты</a>
            </div>
        </section>
        <section class="services">
            <h3>Почему нам стоит доверять:</h3>
            <div class="container services_container">

                <div class="scroll">
                    <div class="services_wrapper">
                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_1"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Собственное производство</h4>
                            <p>Мы не являемся посредниками. Более того, многие посредники заказывают памятники именно у
                                нас
                            </p>
                        </div>
                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_2"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Опыт
                                работы</h4>
                            <p>Мы занимаемся изготовлением памятников с 2004 года и за это время выполнили более 500
                                проектов
                            </p>
                        </div>

                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_3"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Прямые
                                поставки</h4>
                            <p>Мы получаем камень от надежных поставщиков</p>
                        </div>
                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_4"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Контакты
                                на кладбищах</h4>
                            <p>Мы устанавливали памятники на большинстве крупных кладбищ Москвы и области. Мы знаем, к
                                кому
                                обращаться,
                                и как решать вопросы</p>
                        </div>
                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_5"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Работа
                                под ключ</h4>
                            <p> Мы сами проектируем, изготавливаем, доставляем, устанавливаем и обслуживаем памятники и
                                мемориальные
                                комплексы</p>
                        </div>

                        <div class="services_item">
                            <div class="img">
                                <svg>
                                    <use xlink:href="img/sprites/sprite.svg#icon_6"></use>
                                </svg>
                            </div>
                            <h4 class="_border">Персональный
                                подход</h4>
                            <p>Мы выслушиваем все ваши пожелания и воплощаем ваши замыслы</p>
                        </div>

                    </div>
                </div>

                <div class="services_description">
                    <div class="services_description-subtitle"> И самое главное </div>
                    <div class="services_description-title">МЫ ВЫДЕРЖИВАЕМ СРОКИ</div>
                    <p>Все это позволяет нам держать умеренные цены при высоком качестве работы</p>
                </div>

            </div>
        </section>
        <section class="catalogue">
            <div class="container">
                <h2>Каталог</h2>

                @@include("../blocks/modules/catalogue/catalogue.html")
                <a href="catalogue.html" class="btn btn_blue">Смотреть все варианты</a>
            </div>
        </section>
        <section class="reviews">
            <h2>Отзывы</h2>

            @@include("../blocks/modules/reviews/reviews.html")

        </section>
        <section class="advantages">
            <div class="container">
                <h3>Работа с мастерской гранитных памятников «Внуково гранит» имеет следующие преимущества:</h3>

                <div class="advantages_list">
                    <div class="item">
                        Вы не переплачиваете посредникам на кладбищах, а заказываете по конечной цене изготовителя
                        мемориальных комплексов
                    </div>
                    <div class="item">
                        Вы общаетесь с нами напрямую, что позволяет лучше понимать друг друга и быстрее решать вопросы
                    </div>

                    <div class="item">
                        Вы получаете гарантию непосредственно от мастерской, спроектировавшей, изготовившей и
                        установившей ваш гранитный памятник или погребальный комплекс
                    </div>
                </div>


                <div class="advantages_title">
                    Посреднические фирмы часто заказывают памятники именно у нас, поэтому мы хорошо понимаем разницу в
                    ценах. Зачастую она в два, а то и более раз выше.
                </div>
                <div class="advantages_subtitle">
                    Наше качество работы неизменно, но когда мы работаем с клиентом напрямую, шанс изготовить именно тот
                    памятник или комплекс, который вам нужен, значительно выше. Если у вас уже есть готовый проект, то
                    мы
                    постараемся предложить наилучшие условия с учетом скидки на проектирование гранитного комплекса.
                </div>
            </div>


        </section>
        <section class="feedback">
            @@include("../blocks/modules/feedback/feedback.html")

        </section>
    </div>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>