@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Наши работы</h1>


            <div class="portfolio_filtr">
                <div class="portfolio_filtr-item">
                    <div class="title">Кладбище</div>
                    <div class="select">
                        <input class="select__input" type="hidden" name="">
                        <div class="select__head">Митинское</div>
                        <ul class="select__list" style="display: none;">
                            <li class="select__item">Востряковское</li>

                        </ul>
                    </div>
                </div>
                <div class="portfolio_filtr-item">
                    <div class="title">Класс работы</div>

                    <div class="select">
                        <input class="select__input" type="hidden" name="">
                        <div class="select__head">Выберите</div>
                        <ul class="select__list" style="display: none;">
                            <li class="select__item">Стандарт</li>
                            <li class="select__item">Эксклюзив</li>
                            <li class="select__item">Премиум</li>
                        </ul>
                    </div>



                </div>


                <div class="portfolio_filtr-item">
                    Год
                    <div class="select">
                        <input class="select__input" type="hidden" name="">
                        <div class="select__head">2023</div>
                        <ul class="select__list" style="display: none;">
                            <li class="select__item">2023</li>
                            <li class="select__item">2022</li>
                            <li class="select__item">2021</li>
                        </ul>
                    </div>
                </div>



            </div>
            <div class="portfolio_list">
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w1.png" alt=""></div>
                        <div><img src="img/w2.png" alt=""></div>
                    </div>
                    <div class="title">Памятник на Митинском кладбище</div>
                    <div class="date">12 сентября 2022</div>



                    <a href="project.html" class="link_more">подробнее</a>
                </div>
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w3.png" alt=""></div>
                        <div><img src="img/w2.png" alt=""></div>
                    </div>
                    <div class="title">Завершение сезона: комплекс на Востряковском
                    </div>
                    <div class="date">12 сентября 2022</div>



                    <a href="" class="link_more">подробнее</a>
                </div>
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w2.png" alt=""></div>
                        <div><img src="img/w1.png" alt=""></div>
                    </div>
                    <div class="title">Миникомплекс на Троекуровском</div>
                    <div class="date">12 сентября 2022</div>



                    <a href="" class="link_more">подробнее</a>
                </div>
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w1.png" alt=""></div>
                        <div><img src="img/w2.png" alt=""></div>
                    </div>
                    <div class="title">Памятник на Митинском кладбище</div>
                    <div class="date">12 сентября 2022</div>



                    <a href="" class="link_more">подробнее</a>
                </div>
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w3.png" alt=""></div>
                        <div><img src="img/w2.png" alt=""></div>
                    </div>
                    <div class="title">Завершение сезона: комплекс на Востряковском
                    </div>
                    <div class="date">12 сентября 2022</div>



                    <a href="" class="link_more">подробнее</a>
                </div>
                <div class="item">
                    <div class="img_slider">
                        <div><img src="img/w2.png" alt=""></div>
                        <div><img src="img/w1.png" alt=""></div>
                    </div>
                    <div class="title">Миникомплекс на Троекуровском</div>
                    <div class="date">12 сентября 2022</div>



                    <a href="" class="link_more">подробнее</a>
                </div>

            </div>
            <div class="nav_pages">
                <ul>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li>...</li>
                    <li><a href="">21</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>