@@include("../views/layouts/default.html")


<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Услуги и цены</h1>

            <div class="price_list">
                <h3>Цены</h3>
                <div class="tabs">
                    <div class="tab">
                        <input type="checkbox" id="chck1">
                        <label class="tab-label" for="chck1"> Почему вы не указываете цены на большинство готовых
                            проектов?</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" id="chck2">
                        <label class="tab-label" for="chck2"> Как мне сориентироваться в стоимости проекта?</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" id="chck3">
                        <label class="tab-label" for="chck3"> Какой порядок оплаты?</label>
                        <div class="tab-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                        </div>
                    </div>
                </div>

                <h3>Услуги</h3>

                <div class="tabs">
                    <div class="tab">
                        <input type="checkbox" id="chck4">
                        <label class="tab-label" for="chck4"> Есть ли у вас доставка?</label>
                        <div class="tab-content">
                            <p>У нас есть собственный автопарк, поэтому стоимость доставки невысокая: по Москве 2 000 р.
                                до
                                3 тонн.
                                Стоимость доставки по области договорная. Стоимость выезда манипулятора 7 000 р.</p>
                            <p><strong>Мы работаем не только по Москве и области, но и осуществляем доставку в
                                    регионы.</strong></p>

                            <p> Мы изготавливали памятники и погребальные комплексы для заказчиков из Читы,
                                Архангельска,
                                Казахстана и даже
                                Владивостока.</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" id="chck5">
                        <label class="tab-label" for="chck5"> Работаете ли вы с другими регионами?</label>
                        <div class="tab-content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum, rerum deleniti
                                excepturi nisi fugit illum molestiae atque distinctio necessitatibus ipsum optio quae
                                animi sunt! Accusamus assumenda soluta doloremque corrupti.</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" id="chck6">
                        <label class="tab-label" for="chck6"> Есть ли гарантия на памятники и работы?</label>
                        <div class="tab-content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga harum, rerum deleniti
                                excepturi nisi fugit illum molestiae atque distinctio necessitatibus ipsum optio quae
                                animi sunt! Accusamus assumenda soluta doloremque corrupti.</p>
                        </div>
                    </div>
                </div>
                <h3>


                    Прочее

                </h3>

                <div class="tabs">
                    <div class="tab">
                        <input type="checkbox" id="chck7">
                        <label class="tab-label" for="chck7"> Какие документы нужны для установки?</label>
                        <div class="tab-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A praesentium, accusamus sit
                                error temporibus cum in laboriosam. Rerum iste animi sapiente beatae provident dolor,
                                ipsum aliquid nihil, temporibus neque perferendis.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="../js/vendor.js"></script>
</body>

</html>