@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">

            <div class="breadcrumbs">
                <ul>
                    <li><a href="">Наши работы</a></li> / <li>Миникомплекс на Троекуровском</li>
                </ul>
            </div>

            <div class="projects_page">
                <h1>Миникомплекс на Троекуровском</h1>
                <div class="projects_content">
                    <div class="projects_content-gallery img_slider img _full">
                        <div><img src="img/big_pic.png" alt=""></div>
                        <div><img src="img/about1.jpg" alt=""></div>
                        <div><img src="img/big_pic.png" alt=""></div>
                    </div>

                    <div class="projects_content-info">
                        <div class="rate">Класс: <span>бюджет</span> </div>
                        <div class="date">12 сентября 2022</div>
                    </div>
                    <div class="projects_content-description">
                        <p>Установили на Троекуровском кладбище миникомплекс, участок одноместный. Залит нулевой
                            фундамент
                            (весь
                            бетон спрятан под уровнем земли), установлены борта 20-20 из мрамора Коелга, подставка и
                            памятник из
                            греческого мрамора Тассос. Вмонтировано стекло с фотографией и нанесён текст сусальным
                            золотом.
                            Очень
                            хотелось и основание сделать из этого же белоснежного гранита, но бюджет был ограничен!
                            Получилось очень
                            красиво. Объект сдан, заказчик доволен!</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="projects_about">
        <div class="container">
            <div class="projects_about-content">
                <div class="projects_about-left">
                    <div class="inner">

                        <div class="head">Эта работа выполнена по проекту:</div>
                        <a href="project-budzhet.html"> <img src="img/pic.png" alt="">
                            <div class="title">К1012</div>
                        </a>
                        <a href="project-budzhet.html" class="link_more">подробнее</a>
                    </div>

                </div>
                <div class="projects_about-review">
                    <h4>Отзыв Заказчика</h4>
                    <div class="reviews">
                        <div class="item">
                            <div class="name">Денис Ф</div>
                            <div class="date">12 сентября 2022</div>
                            <div class="content">Хочу выразить огромную благодарность команде Внуково гранит!
                                Все работы были выполненны на высшем уровне, а самое главное, что в установленные сроки.
                                Рекомендую</div>
                        </div>

                    </div> <a href="" class="btn btn_blue">Посмотреть все отзывы на Яндексе</a>
                </div>
            </div>



        </div>

    </section>
    <section class="feedback">
        <h4>Если вам понравилась эта работа, вы можете
            заказать расчет похожего проекта</h4>
        @@include("../blocks/modules/order/order.html")

    </section>
    <section class="page-section">
        <div class="container">
            <h2>Другие работы</h2>
            <div class="slider similar_projects swiper similar_swiper">
                <div class="swiper-wrapper">
                    @@include("../blocks/modules/projects/similar_projects.html")
                </div>

                <div class="swiper-button swiper-button-prev">
                    <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                        <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button swiper-button-next">
                    <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                        <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                    </svg>
                </div>



            </div>
        </div>
    </section>

    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>