@@include("../views/layouts/default.html")


<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Готовые проекты</h1>


            <section class="projects">
                <div class="text_block">
                    <p>При проектировании мемориальных комплексов мы всегда отталкиваемся от пожеланий Заказчика. Каждый
                        комплекс всегда уникален, ведь есть множество деталей, которые надо учесть.</p>

                    <p> Каталог готовых проектов поможет вам определиться с отправной точкой: выбрать один или несколько
                        вариантов, и совместно с нашими специалистами создать свой индивидуальный проект.</p>
                </div>
                <div class="projects_nav-tabs">
                    <div class="title">Выберите класс комплекса:</div>
                    <ul>
                        <li class="active"><a href="">Все
                            </a></li>
                        <li class=""><a href="">
                                Бюджет <br>
                                ( до 200 000 ₽ )</a></li>
                        <li><a href="">Стандарт <br>
                                ( до 700 000 ₽ )</a></li>
                        <li><a href="">Эксклюзив <br>
                                ( от 700 000 ₽ )</a></li>

                    </ul>



                </div>

                <div class="projects_list">
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div class="img_slider">
                                <div><img src="img/pic.png" alt=""></div>
                                <div><img src="img/pic.png" alt=""></div>
                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="project-budzhet.html" class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div><img src="img/pic.png" alt=""></div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span></div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                Стоимость по запросу
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div><img src="img/pic.png" alt=""></div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span></div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                125 860 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div><img src="img/pic.png" alt=""></div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span></div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div><img src="img/pic.png" alt=""></div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span></div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                125 860 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item">
                        <a href="project-budzhet.html">
                            <div><img src="img/pic.png" alt=""></div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span></div>

                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                </div>
                <div class="nav_pages">
                    <ul>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li>...</li>
                        <li><a href="">21</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>