@@include("../views/layouts/default.html")

<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">

            <div class="breadcrumbs">
                <ul>
                    <li><a href="">Наши работы</a></li> / <li>Комплекс К1012</li>
                </ul>
            </div>

            <div class="projects_page">
                <h1>Комплекс К1012</h1>
                <div class="projects_content">
                    <div class="projects_content-gallery img_slider">
                        <div><img src="img/project-pic.png" alt=""></div>
                        <div><img src="img/project-pic.png" alt=""></div>
                        <div><img src="img/project-pic.png" alt=""></div>
                    </div>

                    <div class="projects_content-info">
                        <div class="rate">Класс: <span>бюджет</span> </div>

                        <p>Комплекс из дымовского гранита.
                            Памятник 100-50-5, подставка 60-20-15. Облицовка бетонного цоколя выполнена сверху. Ширина
                            плитки 20 см, толщина 3 см.</p>
                    </div>

                    <div class="projects_content-description">
                        <div class="price">578 400 ₽</div>
                        <p>Стоимость проекта складывается из множества параметров: размеры участка и деталей, тип камня,
                            облицовки и тд.
                            Точную стоимость мы сможем назвать только после детального просчета.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="feedback">
        <h4>Заказать расчет на основе этого проекта</h4>
        @@include("../blocks/modules/order/order.html")

    </section>
    <section class="page-section">
        <div class="container">
            <h2>Другие работы класса Бюджет</h2>
            <div class=" swiper projects_swiper similar_projects">
                <div class="swiper-wrapper">
                    <div class="item swiper-slide">
                        <a href="project-budzhet.html">
                            <div class="img">
                                <div><img src="img/pic.png" alt=""></div>

                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>
                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item swiper-slide">
                        <a href="project-budzhet.html">
                            <div class="img">
                                <div><img src="img/pic.png" alt=""></div>

                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>
                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item swiper-slide">
                        <a href="project-budzhet.html">
                            <div class="img">
                                <div><img src="img/pic.png" alt=""></div>

                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>
                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item swiper-slide">
                        <a href="project-budzhet.html">
                            <div class="img">
                                <div><img src="img/pic.png" alt=""></div>

                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>
                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                    <div class="item swiper-slide">
                        <a href="project-budzhet.html">
                            <div class="img">
                                <div><img src="img/pic.png" alt=""></div>

                            </div>
                            <div class="title">Комплекс К1012</div>
                            <div class="rate">Класс: <span>стандарт</span> </div>
                            <div class="description">Комплекс из дымовского гранита.
                                Памятник 100-50-5, подставка 60-20-15.
                                Облицовка бетонного цоколя выполнена сверху. Ширина плитки 20 см,
                                толщина 3 см.</div>
                            <div class="price">
                                578 400 ₽
                            </div>
                        </a>
                        <a href="" class="link_more">подробнее</a>
                    </div>
                </div>
                <div class="projects_swiper-controls">
                    <div class="swiper-button swiper-button-prev">
                        <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                            <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <svg class="icon" width="28" height="28" viewBox="0 0 28 28">
                            <use xlink:href="img/sprites/sprite.svg#icon-arrow"></use>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>