@@include("../views/layouts/default.html")


<body>
    @@include("../blocks/modules/header/header.html")
    <div class="wrap">
        <div class="container">
            <h1>Готовые проекты</h1>


            <section class="projects">
                <div class="text_block">
                    <p>При проектировании мемориальных комплексов мы всегда отталкиваемся от пожеланий Заказчика. Каждый
                        комплекс всегда уникален, ведь есть множество деталей, которые надо учесть.</p>

                    <p> Каталог готовых проектов поможет вам определиться с отправной точкой: выбрать один или несколько
                        вариантов, и совместно с нашими специалистами создать свой индивидуальный проект.</p>
                </div>
                <a href="#" class="toggle_link">Показать фильтры</a>
                <div class="projects_nav-tabs">
                    <div class="title">Выберите класс комплекса:</div>
                    <ul>
                        <li class="active"><a href="">Все
                            </a></li>
                        <li class=""><a href="">
                                Бюджет <br>
                                ( до 200 000 ₽ )</a></li>
                        <li><a href="">Стандарт <br>
                                ( до 700 000 ₽ )</a></li>
                        <li><a href="">Эксклюзив <br>
                                ( от 700 000 ₽ )</a></li>

                    </ul>



                </div>

                <div class="projects_list">
                    @@include("../blocks/modules/projects/projects.html")
                </div>
                <div class="nav_pages">
                    Показано 20 из 50
                    <!-- <ul>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li>...</li>
                        <li><a href="">21</a></li>
                    </ul> -->
                </div>
            </section>
        </div>
    </div>

    <section class="feedback">
        @@include("../blocks/modules/feedback/feedback.html")

    </section>

    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>