.reviews {
  background: $blue;
  margin-bottom: 0;
  padding-top: 63px;
  padding-bottom: 203px;
  margin-top: 114px;
  overflow: hidden;
  h2 {
    color: #fff;
    margin-bottom: 67px;
  }

  &_slider {
    .slick-prev,
    .slick-next {
      transform: none;
      bottom: -80px;
      top: auto;
      background: #fff;
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev {
      left: auto;
      right: 100px;
    }
    .slick-prev:before,
    .slick-next:before {
      font-family: sans-serif;
      content: "";
      background: url(../img/sprites/icon-arrow.svg) no-repeat;
      background-size: contain;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
    .slick-prev:before {
      transform: rotate(180deg);
    }
    .slick-slide {
      padding: 0 20px;
      @media (width < 680px) {
        padding: 0;
      }
    }
    .slick-dots {
      transform: translateX(-30px);
      bottom: -70px;
      width: 50%;

      @media (width < 680px) {
        transform: none;
      }
      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ffffff;
        &.slick-active {
          background: $light-blue;
        }
      }
    }

    .item {
      background: #fff;
      padding: 32px 41px;
      text-align: left;
      .date {
        color: $light-blue;
      }
      .name {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
      }
      .content {
        font-size: 16px;
        line-height: 24px;
        margin-top: 18px;
      }
    }
  }
  &_rate {
    width: 210px;
    color: #fff;
    margin-top: 60px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
    @media (width < 680px) {
      float: none;
      font-size: 15px;
      margin-bottom: 64px;
    }
    img {
      margin-top: 32px;
    }
  }
  .btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    // bottom: 0;
    transform: translate(-50%, 90px);
  }
}
