.reviews {
  background: $blue;
  margin-bottom: 0;
  padding-top: 63px;
  padding-bottom: 203px;
  margin-top: 114px;
  overflow: hidden;
  h2 {
    color: #fff;
    margin-bottom: 67px;
  }

  &_slider {
    .slick-prev,
    .slick-next {
      transform: none;
      bottom: -80px;
      top: auto;
    }
    .slick-next {
      left: calc(55% + 80px);
    }
    .slick-prev {
      left: auto;
      left: 55%;
    }

    .slick-slide {
      padding: 0 20px 0 0;
      @media screen and (max-width: 680px) {
        padding: 0;
      }
    }
    .slick-dots {
      transform: translateX(-30px);
      bottom: -70px;
      width: 50%;
      li {
        background: #fff;
        &.slick-active,
        &:hover {
          background: $light-blue;
        }
      }
    }
  }
  .item {
    background: #fff;
    padding: 32px 41px;
    text-align: left;
    color: $main-color;
    .date {
      color: $light-blue;
      margin-top: 14px;
      @media screen and (max-width: 680px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .name {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      @media screen and (max-width: 680px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .content {
      font-size: 16px;
      line-height: 24px;
      margin-top: 18px;
      @media screen and (max-width: 680px) {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &_rate {
    width: 210px;
    color: #fff;
    margin-top: 60px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: left;
    @media screen and (max-width: 680px) {
      float: none;
      font-size: 15px;
      margin-bottom: 64px;
    }
    img {
      margin-top: 32px;
    }
  }
  .btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 90px);
    min-width: 290px;
  }
}
