.footer {
  background: #252734;
  color: #fff;
  padding-top: 72px;
  padding-bottom: 56px;
  @media screen and (max-width: 680px) {
    padding-bottom: 20px;
    padding-top: 34px;
  }
  &_container {
    display: flex;
    //  align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 680px) {
      flex-direction: column;
      text-align: center;
      // padding: 0 20px;
    }
  }
  &_left {
    width: 250px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 680px) {
      width: 100%;
    }
    .seo {
      font-size: 10px;
      line-height: 15px;
      margin-top: auto;
    }
  }
  &_logo {
    width: 250px;
    height: 77px;
    flex-shrink: 0;
    @media screen and (max-width: 680px) {
      width: 168px;
      height: 60px;
    }
    svg {
      max-width: 100%;
      max-height: 100%;
      transform: translateX(-15px);
      @media screen and (max-width: 680px) {
        transform: translateX(5px);
      }
      use {
        fill: white;
      }
    }
    @media screen and (max-width: 680px) {
      width: 100%;
      margin-bottom: 54px;
      img {
        width: 170px;
      }
    }
  }
  &_copy {
    margin-right: 103px;
    @media screen and (max-width: 1150px) {
      margin-right: 57px;
    }
    @media screen and (max-width: 1000px) {
      max-width: 160px;
      margin-right: 90px;
    }
    @media screen and (max-width: 680px) {
      width: 100%;
      max-width: 100% !important;
      margin-top: 22px;
      margin-right: 0 !important;
    }
  }
  &_phone {
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
    @media screen and (max-width: 680px) {
      font-weight: 300;
      font-size: 22px;
      line-height: 32px;
    }
  }
  &_social {
    display: flex;
    margin-bottom: 60px;
    gap: 16px;
    @media screen and (max-width: 680px) {
      display: none;
    }
    svg {
      height: 24px;
      width: 24px;
    }
    svg use {
      fill: white;
    }
    a:hover {
      svg use {
        fill: $light-blue;
      }
    }
  }

  &_bottom {
    font-size: 10px;
    line-height: 15px;
    padding-top: 27px;
  }
  &_dev {
    margin-left: auto;
    text-align: right;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 10px;
    @media screen and (max-width: 680px) {
      display: block;
      text-align: left;
      margin-top: 30px;
      margin-left: 0;
    }
    svg {
      height: 20px;
      width: 30px;
    }
    svg use {
      fill: white;
    }
    a:hover {
      svg use {
        fill: $light-blue;
      }
    }
  }
  &_contacts {
    @media screen and (max-width: 680px) {
      order: 2;
      margin: auto;
    }
  }
  &_nav {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 250%;
    text-transform: uppercase;
    @media screen and (max-width: 680px) {
      margin-top: 0px;
      margin-bottom: 47px;
      order: 1;
      width: 100%;
    }
  }
  &_catalogue {
    font-weight: 700;
    font-size: 14px;
    line-height: 250%;
    text-transform: uppercase;

    ul {
      text-transform: none;
      font-weight: 400;
      font-size: 14px;
      list-style: none;
    }
  }
  &_disclamer {
    max-width: 500px;
  }
  &_address {
    max-width: 295px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    @media screen and (max-width: 1000px) {
      max-width: 80%;
      margin: 54px auto 61px;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 50px;
    }
    strong {
      text-transform: uppercase;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $light-blue;
    }
  }
  .tg_link {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    display: block;
    margin-top: 43px;
    @media screen and (max-width: 680px) {
      font-size: 12px;
      line-height: 18px;
      margin-top: 0;
      display: inline-block;
    }
    svg {
      width: 18px;
      height: 15px;
      margin-right: 15px;
      float: left;
      vertical-align: bottom;
    }
    span {
      color: $light-blue;
    }
  }
  .map_link {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $light-blue;
    @media screen and (max-width: 680px) {
      display: none;
    }
    svg {
      width: 16px;
      height: 20px;
      margin-right: 11px;
    }
    &_mobile {
      display: none;
      @media screen and (max-width: 680px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        color: $light-blue;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 2px;

        svg {
          width: 20px;
          height: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
