.slick-dots {
  bottom: -10px;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    &.slick-active {
      background: $light-blue;
    }
  }
}
.slick-prev,
.slick-next {
  top: 35%;
  background: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 10;
  &:before {
    font-family: sans-serif;
    content: "";
    background: url(../img/sprites/icon-arrow.svg) no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: transparent;
  }
  &:focus,
  &:hover {
    background-color: $light-blue;
    &:before,
    &:before {
      background: url(../img/sprites/icon-arrow_w.svg) no-repeat;
      background-size: contain;
    }
  }
}

.slick-prev:before {
  transform: rotate(180deg);
}

.slick-dots {
  @media (width < 680px) {
    transform: none;
  }
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #252734;
    &.slick-active,
    &:hover {
      background: $light-blue;
    }
  }
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: transparent;
}
